/*
  |--------------------------------------------------------------------------|
    หัวข้อทั้งหมด
    Section Default
    Section Banner
    Section Register
    Section Login
    Section Card
    Section CardPopular
    Section Navbar
    Section Verify
    Section Detail
    Section HomePage
    Section ProgressBar
    Section Profile
    Section Footer
    Section Search
    Section Recommend
    Section RatingComment
    
 
  |--------------------------------------------------------------------------|
 */

/* Section Default */

body {
  font-family: 'Kanit', sans-serif !important;
}

body {
  background-color: #ffffff;
}

.title-table-head th {
  min-height: 10em !important;
  display: table-cell !important;
  vertical-align: middle !important;
}

.btn-blue {
  background-color: #124E96;
  color: white;
  border-color: #124E96;
}

.btn-blue-active{
  background-color: #ffffff;
  color: 124E96;
  border-color: #124E96;
}

.btn-blue:hover {
  background-color: #0866d8;
  color: white;
  border-color: #0866d8;
}

.btn-outline-blue{
  background-color: white;
  color: #0057FF;
  border-color: #0057FF;
}

.btn-outline-blue:hover{
  background-color: #0057FF;
  color: white;
  border-color: #0057FF;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.style-form {
  border-radius: 6px !important;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: 0%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #0057FF;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.img-profile-cycle {
  width: 250px !important;
  height: 250px !important;
  border-radius: 50% !important;
}


.btn-love {
  text-decoration: none !important;
  color: black
}

.text-pink {
  color: #FA6476 !important;
}

.bg-blue {
  background-color: #2170B8 !important;
}

.text-green {
  color: #5DBFD0;
}

.text-greeninfo {
  color: #455A64;
}

.shadow-text {
  text-shadow: 2px 2px #000000;
}

/* Text Color */

.text-color-pink {
  color: #FA6476;
}

.text-red {
  color: #D22129;
}

.text-blue {
  color: #124E96;
}

/* hr */

hr.hr-13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #FA6476 inset;
}

hr.hr-17 {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 3px #FA6476;
}

hr.hr-17:after {
  content: "\00a0";
}

/* Text Margin */

@media (max-width: 576px) {
  .center-text-sm {
    text-align: center!important;
  }
}

.btn-facebook a{
  text-decoration: none;
}

/* Section Banner */

.banner .banner-fixed {
  position: relative;
  background-position: auto;
  overflow: hidden;
  background-size: cover;
}

.banner .train-fixed {
  position: absolute;
  left: -300%;
  bottom: 26%;
  background-position: repeat;
  width: auto;
  height: 10%;
  /* display: block; */
}

.banner .train {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-animation: linear infinite;
  animation-delay: 2s;
  -webkit-animation-name: run;
  -webkit-animation-duration: 15s;
}

@-webkit-keyframes run {
  0% {
    left: 0%;
  }
  50% {
    left: 800%;
  }
  100% {
    left: 0;
  }
}

.banner .human-fixed {
  position: absolute;
  bottom: -5px;
  width: auto;
  height: 70%;
}

.banner .human {
  width: 100%;
  height: 100%;
}

.banner .cloud-fixed {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 70%;
}

.banner .cloud {
  width: 100%;
  height: 100%;
}

.banner .build-fixed {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 70%;
}

.banner .build {
  width: 100%;
  height: 100%;
}

.banner .road-fixed {
  position: absolute;
  left: 0;
  bottom: 122px;
  background-position: repeat;
  /* width: auto; */
  height: 10%;
}

.banner .road {
  width: 100%;
  height: 280%;
}

.banner .plane-fixed {
  position: absolute;
  bottom: -23%;
  width: auto;
  height: 66%;
}

.banner .plane {
  position: relative;
  width: auto;
  height: 5%;
  -webkit-animation: linear infinite;
  animation-delay: 2s;
  -webkit-animation-name: fly;
  -webkit-animation-duration: 10s;
}

@-webkit-keyframes fly {
  0% {
    top: 0%;
    left: 0%;
    opacity: 0;
  }
  20% {
    top: -30%;
    left: 30%;
    opacity: 1;
  }
  30% {
    opacity: 1;
    top: -50%;
    left: 50%;
    width: auto;
    height: 25%;
    transition: width 2s, height 4s;
  }
  40% {
    opacity: 1;
    top: -52%;
    left: 49%;
    width: auto;
    height: 25%;
  }
  50% {
    opacity: 1;
    top: -49%;
    left: 52%;
    width: auto;
    height: 25%;
  }
  60% {
    opacity: 1;
    top: -52%;
    left: 49%;
    width: auto;
    height: 25%;
  }
  70% {
    opacity: 1;
    top: -49%;
    left: 52%;
    width: auto;
    height: 25%;
  }
  80% {
    opacity: 1;
    top: -52%;
    left: 49%;
    width: auto;
    height: 25%;
  }
  90% {
    opacity: 1;
    top: -49%;
    left: 52%;
    width: auto;
    height: 25%;
  }
  100% {
    opacity: 1;
    top: -52%;
    left: 49%;
    width: auto;
    height: 25%;
  }
}

.text-banner {
  position: absolute;
  top: 15%;
  right: 10%;
}

.text-banner h1 {
  font-size: 70px;
  margin-top: 32px;
}

@media (max-width: 850px) {
  .text-banner {
    display: none;
  }
}

/* Section Register */

.bg-register {
  background-color: #5289A3;
}

.card-register {
  background-color: white;
  box-shadow: 0 4px 8px 0 #0057FF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-register2 {
  background-color: #317ABD;
  box-shadow: 0 4px 8px 0 #0057FF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section Login */

.card-login {
  background-image: url("../img/img-login.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 #0057FF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-login2 {
  background-color: #E1E1E1;
  box-shadow: 0 4px 8px 0 #0057FF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section Card */

.card-v2 {
  position: relative;
}

.card-v2 .card-relative {
  position: relative;
}

.card-v2 .img-card {
  width: 350px;
  height: 250px;
  background-size: cover;
}

.card-v2 .card-color {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.83%, #000000 100%);
  height: 100%;
}

.card-v2 .card-absolute {
  position: absolute;
}

.card-v2 .card-text {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fff;
}

.card-v2 .img-card {
  transition: transform .2s;
}

.card-v2 .img-card:hover {
  /* opacity: 100 !important;
  margin: 0 auto;
  width: 100%;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition: transform .2s; */
}

.card-v2 .img-card:hover .card-color {
  /* opacity: 0; */
}

.card-v2 .crop-zoom {
  overflow: hidden;
}

.card-v2 .card-text-view {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  padding-bottom: 5px;
  color: #fff;
}




.card-v2 .popular {
  position: absolute;
  top: -37px;
  right: -58px;
}

.card-v2 .popular {
  position: relative;
}

.card-v2 .popular {
  width: 90%;
}

.card-v2 {
  position: relative;
}

.card-v2 .popular-fixed {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

/* .row-card{
  overflow: hidden;
} */

/* Shadow Card */

.card-shadow {
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .2);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}

/* Size Card */

.h-100 {
  height: 100% !important;
}

/* Shadow Card */

.h-card {
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-travel {
  position: absolute;
  background-position: top 0px;
  top: 650px;
}

/* Zoom Card */

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}

/* Hover Effect */

/* Zoom In #1 */

.hover01 figure {
  overflow: hidden;
}

.hover01 figure .card-img-top {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover01 figure:hover .card-img-top {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

/* Section Card Popular */

/* CardPopular */

.img-popular2 {
  position: absolute;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 5;
  right: 21;
}

.img-popular {
  position: absolute;
  background-color: #dc3545;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 19;
  right: 23;
}

.text-fixed-popular {
  text-align: center;
}

.view-popular {
  position: absolute;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
  top: 224;
  left: 5;
  text-shadow: 1px 3px 3px rgb(0, 0, 0);
}

/* Animation Button */

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Section Navbar */

nav ul li a {
  color: #124E96 !important;
}

/* ขนาดปกติ */

header {
  width: 100%;
  height: 100vh;
  background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.dropup .dropdown-toggle::after {
  border-top: .3em solid;
  border-bottom: 0;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  /* overflow: hidden; */
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.white ul {
  background: rgb(255, 255, 255);
  box-shadow: 4px 4px 4px #124E96;
}

nav ul li {
  display: inline-block;
  padding: 16px 10px;
  ;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: none;
  font-size: 18px;
  color: #124E96 !important;
  text-shadow: 0 0 0.1em #124E96;
  font-weight: bold;
}

nav.white ul li a {
  text-decoration: none;
  color: #124E96 !important;
  font-weight: bold;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: rgb(255, 255, 255);
  text-align: right;
  box-sizing: border-box;
  padding: 25px 24px;
  cursor: pointer;
  color: #124E96;
  display: none;
}

/* ขนาดต่ำกว่า 786 */

@media(max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
  nav ul {
    max-height: 0px;
    background: rgb(255, 255, 255);
    overflow: hidden;
  }
  nav.white ul {
    background: rgb(255, 255, 255);
    overflow: hidden;
  }
  .showing {
    max-height: 34em;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .menu-icon {
    display: block;
    box-shadow: 4px 4px 4px #124E96;
  }
  .dropup .dropdown-toggle::after {
    border-top: 0;
    border-bottom: .3em solid;
  }
}

.badge-red {
  color: #fff;
  background-color: red;
}

.badge-blue {
  color: #fff;
  background-color: #2170B8;
}

.badge-green {
  color: #fff;
  background-color: #75BBC7;
}

/* Section Verify */
.card-verify {
  background-image: url("../img/viewVerify.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 #2170B8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-verify2 {
  background-color: #E1E1E1;
  box-shadow: 0 4px 8px 0 #2170B8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Email */
.card-verify-1 {
  background-image: url("../img//bg-repassword1.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 #2170B8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-verify2-1 {
  background-color: #E1E1E1;
  box-shadow: 0 4px 8px 0 #2170B8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Repassword */
.card-verify-2 {
  background-image: url("../img//bg-repassword2.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 #2170B8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-verify2-2 {
  background-color: #E1E1E1;
  box-shadow: 0 4px 8px 0 #2170B8, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/* Section Detail */

.detailTravelContact {
  border: #2170B8 2px solid;
}

.detailTravelContact .tab .active {
  background-color: #D22129 !important;
  color: white !important;
}

.detailTravelContact .tab {
  border: #2170B8 solid 1px;
}

.detailTravelContact .nav a {
  color: #455a64 !important
}

.detailTravelContact .nav-pills .nav-link {
  border-radius: 0px !important;
}

.img-icon-detail {
  text-align: center;
  margin: 110px;
}

.img-icon-detail2 {
  text-align: center;
}

/* Section Homepage */

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: none;
}

.img-carousel-1 {
  position: relative;
  background-size: cover;
  animation: zoom-in-zoom-out 10s ease-out
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.img-carousel-2 {
  position: relative;
  background-size: cover;
  animation: zoom-out-carousel2 15s infinite;
}

@keyframes zoom-out-carousel2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

.text-carousel-1 {
  position: absolute;
  top: 250;
  left: 50;
  color: #FA6476;
  text-shadow: 10px;
}

.text-carousel-2 {
  position: absolute;
  top: 250;
  right: 50;
  font-size: 8vw;
  color: #FA6476;
  text-shadow: 10px;
}

.effect-gapip {
  font-size: 10vw;
  font-weight: bold;
  animation: pink 3s linear infinite;
  animation-delay: 0.5s;
}

@keyframes pink {
  from {
    text-shadow: 0 0 5px #FA6476, 0 0 15px #FA6476, 0 0 30px #FA6476, 0 0 60px #FA6476;
  }
}

.text-welcome {
  font-weight: bold;
  font-size: 5vw;
}

.text-welcome .letter {
  display: inline-block;
  line-height: 1em;
}

.ml16, .ml15 {
  font-weight: 800;
  font-size: 10vh;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 2px pink;
}

.ml15 .word1, .ml15 .word2 {
  display: inline-block;
  line-height: 1em;
}

.img-carousel-3 {
  position: relative;
  background-size: cover;
  animation: zoom-out-carousel3 15s infinite;
}

@keyframes zoom-out-carousel3 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

.text-carousel-3 {
  position: absolute;
  top: 50%;
  left: 23%;
  font-size: 5vw !important;
  color: #FA6476;
  text-shadow: 1px 1px 2px #FA6476;
}

.ml5 {
  position: relative;
  color: #FA6476;
  font-size: 5vw !important;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #FA6476;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

/* Multicard */

@media (min-width: 768px) {
  .multi-card .carousel-inner .carousel-item-right.active, .multi-card .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }
  .multi-card .carousel-inner .carousel-item-left.active, .multi-card .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
}

/* large - display 3 */

@media (min-width: 992px) {
  .multi-card .carousel-inner .carousel-item-right.active, .multi-card .carousel-inner .carousel-item-next {
    transform: translateX(33%);
  }
  .multi-card .carousel-inner .carousel-item-left.active, .multi-card .carousel-inner .carousel-item-prev {
    transform: translateX(-33%);
  }
}

@media (max-width: 768px) {
  .multi-card .carousel-inner .carousel-item>div {
    display: none;
  }
  .multi-card .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.multi-card .carousel-inner .carousel-item.active, .multi-card .carousel-inner .carousel-item-next, .multi-card .carousel-inner .carousel-item-prev {
  display: flex;
}

.multi-card .carousel-inner .carousel-item-right, .multi-card .carousel-inner .carousel-item-left {
  transform: translateX(0);
}

/* Section Profile */

.profile-page .cover {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

.avatar {
  display: block;
  width: 250px;
  height: 250px;
  margin: -120px auto 10px;
  border-radius: 50%;
  box-shadow: 0px 3px 12px #124E96;
}

.card-profile {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.text-name-profile {
  font-size: 2.5rem !important;
}

@media (min-width: 1200px) {
  .text-name-profile {
    font-size: 2.5rem !important;
  }
}

.data-profile .list-group-item.active:hover, .data-profile .list-group-item.active {
  z-index: 2 !important;
  color: #fff !important;
  background-color: #124E96 !important;
  border-color: #124E96 !important;
}

.data-profile .list-group-item:hover {
  z-index: 2;
  color: #fff !important;
  background-color: #124E96;
  border-color: #124E96;
}

.data-profile a {
  color: black
}

.data-profile a:link {
  text-decoration: none;
  color: white
}

.data-profile .sticky-top {
  top: 88px !important;
}

/* Section Footer */

.site-footer {
  background-color: #2170B8;
  color: #fff;
}

.site-footer h6 {
  color: #fff;
  text-transform: uppercase;
  /* เว้นระยะห่าง */
  letter-spacing: 3px;
}

.site-footer a {
  color: #fff;
  /* เอาขีดออก */
  text-decoration: none;
}

.site-footer a:hover {
  color: #FBAD26;
}

.text-footer {
  padding: 10px 0;
}

/* Section Search */

.pagination .page-item .page-link {
  color: #124E96;
}

.pagination .page-item.disabled .page-link {
  color: #727272;
}

.page-item.active .page-link {
  background-color: #124E96 !important;
  color: white;
  border-color: #124E96;
}

.pagination .page-item .page-link:hover {
  color: white;
  background-color: #124E96 !important;
}

.fixed-bg-search {
  position: relative;
}

.title-fixed-bg-search {
  position: absolute;
  color: white;
}

/* Pagination */

.respon-Navi-Mobile {
  display: none;
}

@media (max-width: 800px) {
  .respon-Navi-Web {
    display: none;
  }
  .respon-Navi-Mobile {
    display: flex;
    flex-direction: column;
  }
}

/* Section Recommend  */

.breadcrumb-recom .breadcrumb {
  width: 100%;
  min-width: 320px;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  font-family: arial;
  text-align: center;
  background-color: #fff !important;
}
.breadcrumb-recom .breadcrumb .item {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  background: #e3e3e3;
  color: #3d3d3d;
  text-decoration: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 44px;
  white-space: nowrap;
  padding: 0 20px 0 60px;
}
@media screen and (max-width: 991px) {
  .breadcrumb-recom .breadcrumb .item {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumb-recom .breadcrumb .item {
    line-height: normal;
    text-align: center;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .breadcrumb-recom .breadcrumb .item:not(.active) {
    padding-top: 2px;
    padding-bottom: 6px;
  }
}
.breadcrumb-recom .breadcrumb .item:first-child {
  border-radius: 5px 0 0 5px;
}
.breadcrumb-recom .breadcrumb .item:first-child:before {
  left: 14px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recom .breadcrumb .item:first-child:before {
    left: 0;
  }
}
.breadcrumb-recom .breadcrumb .item:first-child:last-child {
  border-radius: 0 5px 5px 0;
}
.breadcrumb-recom .breadcrumb .arrow {
  position: absolute;
  top: 22px;
  right: 1px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recom .breadcrumb .arrow {
    top: 24px;
  }
}
.breadcrumb-recom .breadcrumb .arrow:after,
.breadcrumb-recom .breadcrumb .arrow:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
}
.breadcrumb-recom .breadcrumb .arrow:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #e3e3e3;
  border-width: 20px;
  margin-top: -20px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recom .breadcrumb .arrow:after {
    margin-top: -23px;
    right: -12px;
    border-width: 23px 0 24px 12px;
  }
}
.breadcrumb-recom .breadcrumb .arrow:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #fff;
  border-width: 23px;
  margin-top: -23px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recom .breadcrumb .arrow:before {
    margin-top: -28px;
    border-width: 28px 0 28px 15px;
  }
}
.breadcrumb-recom .breadcrumb .item:before {
  content: counter(flag);
  counter-increment: flag;
  position: absolute;
  top: 0;
  left: 30px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin: 8px 0;
  background: white;
  box-shadow: 0 0 0 1px #ccc;
  font-size: 18px;
  font-weight: bold;
  color: #D22129;
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recom .breadcrumb .item:before {
    position: relative;
    display: block;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    margin: 6px auto 4px;
  }
}
/* .breadcrumb-recom .breadcrumb .item:hover, */
.breadcrumb-recom .breadcrumb .active {
  background: #2170B8;
  color: #fff;
}
/* .breadcrumb-recom .breadcrumb .item:hover .arrow:after {
  border-left-color: #fff;
} */
.breadcrumb-recom .breadcrumb .active {
  border-top: 2px solid #2170B8;
  border-bottom: 2px solid #2170B8;
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recom .breadcrumb .active {
    line-height: normal;
  }
}
.breadcrumb-recom .breadcrumb .active:before {
  color: #2170B8;
}
.breadcrumb-recom .breadcrumb .active .arrow {
  top: 20px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recom .breadcrumb .active .arrow {
    top: 22px;
  }
}
.breadcrumb-recom .breadcrumb .active .arrow:before {
  border-left-color: #fff;
}
.breadcrumb-recom .breadcrumb .active .arrow:after {
  border-left-color: #2170B8;
}
.breadcrumb-recom .breadcrumb .active:first-child {
  border-left: 2px solid #2170B8;
}
.breadcrumb-recom .breadcrumb .active:last-child {
  border-right: 2px solid #2170B8;
}
.breadcrumb-recom .breadcrumb .item.completed {
  background: #444;
  color: #fff;
}
.breadcrumb-recom .breadcrumb .item.completed .arrow:before,
.breadcrumb-recom .breadcrumb .item.completed .arrow:after {
  border-left-color: #444;
}
.breadcrumb-recom .breadcrumb .item.completed:after {
  box-shadow: 2px -2px 0 2px #444, 3px -3px 0 2px #444;
}

/* Section RecommendV2  */

.breadcrumb-recomv2 .breadcrumb {
  width: 100%;
  min-width: 320px;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  font-family: arial;
  text-align: center;
  background-color: #fff !important;
}
.breadcrumb-recomv2 .breadcrumb .item {
  position: relative;
  display: block;
  float: left;
  width: 33%;
  background: #e3e3e3;
  color: #3d3d3d;
  text-decoration: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 44px;
  white-space: nowrap;
  padding: 0 20px 0 60px;
}
@media screen and (max-width: 991px) {
  .breadcrumb-recomv2 .breadcrumb .item {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumb-recomv2 .breadcrumb .item {
    line-height: normal;
    text-align: center;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .breadcrumb-recomv2 .breadcrumb .item:not(.active) {
    padding-top: 2px;
    padding-bottom: 6px;
  }
}
.breadcrumb-recomv2 .breadcrumb .item:first-child {
  border-radius: 5px 0 0 5px;
}
.breadcrumb-recomv2 .breadcrumb .item:first-child:before {
  left: 14px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recomv2 .breadcrumb .item:first-child:before {
    left: 0;
  }
}
.breadcrumb-recomv2 .breadcrumb .item:first-child:last-child {
  border-radius: 0 5px 5px 0;
}
.breadcrumb-recomv2 .breadcrumb .arrow {
  position: absolute;
  top: 22px;
  right: 1px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recomv2 .breadcrumb .arrow {
    top: 24px;
  }
}
.breadcrumb-recomv2 .breadcrumb .arrow:after,
.breadcrumb-recomv2 .breadcrumb .arrow:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
}
.breadcrumb-recomv2 .breadcrumb .arrow:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #e3e3e3;
  border-width: 20px;
  margin-top: -20px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recomv2 .breadcrumb .arrow:after {
    margin-top: -23px;
    right: -12px;
    border-width: 23px 0 24px 12px;
  }
}
.breadcrumb-recomv2 .breadcrumb .arrow:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #fff;
  border-width: 23px;
  margin-top: -23px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recomv2 .breadcrumb .arrow:before {
    margin-top: -28px;
    border-width: 28px 0 28px 15px;
  }
}
.breadcrumb-recomv2 .breadcrumb .item:before {
  content: counter(flag);
  counter-increment: flag;
  position: absolute;
  top: 0;
  left: 30px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin: 8px 0;
  background: white;
  box-shadow: 0 0 0 1px #ccc;
  font-size: 18px;
  font-weight: bold;
  color: #D22129;
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recomv2 .breadcrumb .item:before {
    position: relative;
    display: block;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    margin: 6px auto 4px;
  }
}
/* .breadcrumb-recomv2 .breadcrumb .item:hover, */
.breadcrumb-recomv2 .breadcrumb .active {
  background: #2170B8;
  color: #fff;
}
/* .breadcrumb-recomv2 .breadcrumb .item:hover .arrow:after {
  border-left-color: #fff;
} */
.breadcrumb-recomv2 .breadcrumb .active {
  border-top: 2px solid #2170B8;
  border-bottom: 2px solid #2170B8;
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recomv2 .breadcrumb .active {
    line-height: normal;
  }
}
.breadcrumb-recomv2 .breadcrumb .active:before {
  color: #2170B8;
}
.breadcrumb-recomv2 .breadcrumb .active .arrow {
  top: 20px;
}
@media screen and (max-width: 767px) {
  .breadcrumb-recomv2 .breadcrumb .active .arrow {
    top: 22px;
  }
}
.breadcrumb-recomv2 .breadcrumb .active .arrow:before {
  border-left-color: #fff;
}
.breadcrumb-recomv2 .breadcrumb .active .arrow:after {
  border-left-color: #2170B8;
}
.breadcrumb-recomv2 .breadcrumb .active:first-child {
  border-left: 2px solid #2170B8;
}
.breadcrumb-recomv2 .breadcrumb .active:last-child {
  border-right: 2px solid #2170B8;
}
.breadcrumb-recomv2 .breadcrumb .item.completed {
  background: #444;
  color: #fff;
}
.breadcrumb-recomv2 .breadcrumb .item.completed .arrow:before,
.breadcrumb-recomv2 .breadcrumb .item.completed .arrow:after {
  border-left-color: #444;
}
.breadcrumb-recomv2 .breadcrumb .item.completed:after {
  box-shadow: 2px -2px 0 2px #444, 3px -3px 0 2px #444;
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

.show-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .show-mobile {
    display: inline-block;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

/* Rating Comment */

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating>input {
  display: none;
}

.rating>label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating>input:checked~label, .rating>input:checked~label~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating>input:not(:checked)~label:hover, .rating>input:not(:checked)~label:hover~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before, .emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji-wrapper:after {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji>svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked~.emoji-wrapper>.emoji {
  transform: translateY(-100px);
}

#rating-2:checked~.emoji-wrapper>.emoji {
  transform: translateY(-200px);
}

#rating-3:checked~.emoji-wrapper>.emoji {
  transform: translateY(-300px);
}

#rating-4:checked~.emoji-wrapper>.emoji {
  transform: translateY(-400px);
}

#rating-5:checked~.emoji-wrapper>.emoji {
  transform: translateY(-500px);
}

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
}

/* Comment */

.rating-comment {
  display: flex;
  width: 100%; 
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
  pointer-events: none;
}

.rating-comment-0 {
  filter: grayscale(100%);
}

.rating-comment>input {
  display: none;
}

.rating-comment>label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating-comment>input:checked~label, .rating-comment>input:checked~label~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating-comment>input:not(:checked)~label:hover, .rating-comment>input:not(:checked)~label:hover~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


/* AVG */

.rating-comment-avg {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
  pointer-events: none;
}

.rating-comment-avg-0 {
  filter: grayscale(100%);
}

.rating-comment-avg>input {
  display: none;
}

.rating-comment-avg>label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating-comment-avg>input:checked~label, .rating-comment-avg>input:checked~label~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating-comment-avg>input:not(:checked)~label:hover, .rating-comment-avg>input:not(:checked)~label:hover~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

/* AVG Card */
.rating-comment-avg-card {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
  pointer-events: none;
}

.rating-comment-avg-card-0 {
  filter: grayscale(100%);
}

.rating-comment-avg-card>input {
  display: none;
}

.rating-comment-avg-card>label {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating-comment-avg-card>input:checked~label, .rating-comment-avg-card>input:checked~label~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating-comment-avg-card>input:not(:checked)~label:hover, .rating-comment-avg-card>input:not(:checked)~label:hover~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.card-star{
  position: absolute;
  bottom: 0;
  left: 5px;
  display: flex;
  align-content: center;
  color: white !important ;
}

.img-comment{
  border-radius: 100%;
}



