
 /*
  |--------------------------------------------------------------------------|
    หัวข้อทั้งหมด
    [0] Main
        [>]Font
        [>]Background And Font
        [>]BackButton
        [>]Input
        [>]img-profile
        [>]btn-primary:hover
        [>]btn-secondary:hover
        [>]Color
    [1] Register'
    [2] Login
    [3] Card Travel API
        [>]Shadow Card
        [>]Size Card
        [>]Zoom Card
    [4] Multi Card Travel
        [>] Hover Effect
    [5] Parallax
        [>] BG Homepage1
    [6] Navbar 
    [7] Verify
    [8] CardPopular

 
  |--------------------------------------------------------------------------|
 */

/* [0] Default */

/* Font Kanit */
body{
  font-family: 'Kanit', sans-serif !important;
}

/* Background And Font */
body{
    background-color: #FEF6EB;
}

/* Back Button Register And Login */
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

/* Input Syle */
.style-form{
    border-radius: 6px !important;
}

/* Profile Img */
.profile-img{
    text-align: center;
    
}
.profile-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
.profile-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: 0%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #1477dab8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.img-profile-cycle{
    width: 250px !important; 
    height: 250px !important;
    border-radius: 50% !important;
}

/* btn primary hover */
.btn-primary:hover{
  background-color: #FA6476;
  border-color: #FA6476;
}

/* btn secondary hover */
.btn-secondary:hover{
  background-color: #FA6476;
  border-color: #FA6476;
}

/* Color */
.text-pink{
  color: #FA6476;
}

.shadow-text{
  text-shadow: 2px 2px #000000;
}



/* [1] หน้า Register */
.bg-register{
    background-color: #5289A3;
}
.card-register{
    background-color: white;
    box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-register2{
    background-color: #092E41;
    box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* [2] Login */
.card-login{
   background-image: url("../img/img-login.png");
   background-position: center;
   background-size: cover;
   box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-login2{
    background-color: #E1E1E1;
    box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* [3] Card Travel API */
/* Shadow Card */
.card-shadow{
    -webkit-box-shadow: 0 30px 50px rgba(0,0,0,.2);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

/* Size Card */
.h-100 {
    height: 100% !important; 
}

.h-card {
    height: 550px; 
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.card-travel{
    position: absolute;
    background-position: top 0px;
    top:650px;
}

/* Zoom Card */
.img-hover-zoom {
    overflow: hidden; 
}
.img-hover-zoom img {
    transition: transform .5s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.5);
}


/* [4] Multi Card Travel */
.carousel-control-next-icon {
  background-image: url('') !important; 
}
.carousel-control-prev-icon {
  background-image: url('') !important; 
}

@media (min-width: 768px) {
  /* show 3 items */
  .muticarousel .carousel-inner .active,
  .muticarousel .carousel-inner .active + .carousel-item,
  .muticarousel .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .muticarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .muticarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .muticarousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  /* .muticarousel .carousel-inner .carousel-item-prev{
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  } */

  .muticarousel .carousel-inner .carousel-item-next {
    
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .muticarousel .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .muticarousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .muticarousel .carousel-item-next.carousel-item-left + .carousel-item,
  .muticarousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .muticarousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .muticarousel .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .muticarousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .muticarousel .carousel-item-prev.carousel-item-right + .carousel-item,
  .muticarousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .muticarousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
  }

  #myCarousel .carousel-inner .carousel-item {
    margin-right: 0%;
  }

  #myCarousel1 .carousel-inner .carousel-item {
    margin-right: 0%;
  }
}
@media (max-width: 180px) and (max-width: 767px) {
  #myCarousel .carousel-inner div.carousel-item {
    margin-right: 100%;
  }

  #myCarousel1 .carousel-inner div.carousel-item {
    margin-right: 100%;
  }
}  
 
/* Hover Effect */
/* Zoom In #1 */
.hover01 figure  {
	overflow: hidden;
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


/* [5] Parallax */
/* BG Homepage1 */
.parallax {
    /* The image used */
    background-image: url("http://static.asiawebdirect.com/m/phuket/portals/thaiwave-com/homepage/kanchanaburi/attractions/erawan-waterfall/allParagraphs/BucketComponent/ListingContainer/07/image/erawan-falls-second-tier.jpg");
  
    /* Set a specific height */
    min-height: 350px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /* [6] */

  /* ขนาดปกติ */
  header {
    width: 100%;
    height: 100vh;
    background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
  
  .dropup .dropdown-toggle::after{
    border-top: .3em solid;
    border-bottom: 0;
  }
  
  .content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
  }
  
  .logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
  }
  
  nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    /* overflow: hidden; */
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
  }
  
  nav.white ul {
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px #FA6476;
  }
  
  nav ul li {
    display: inline-block;
    padding: 16px 40px;;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight:bold;
  }
  
  nav ul li a:hover {
    text-decoration: none;
    font-size: 16px;
    color: #FA6476 !important;
    text-shadow: 0 0 0.1em #FA6476;
    font-weight:bold;
  }
  
  
  nav.white ul li a {
    text-decoration: none;
    color: #FA6476 !important;
    font-size: 16px;
    font-weight:bold;
  }
  
  .menu-icon {
    line-height: 60px;
    width: 100%;
    background: rgb(255, 255, 255);
    text-align: right;
    box-sizing: border-box;
    padding: 25px 24px;
    cursor: pointer;
    color: #FA6476;
    display: none;
  }
  
  /* ขนาดต่ำกว่า 786 */
  @media(max-width: 786px) {
  
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
  
    nav ul {
        max-height: 0px;
        background: rgb(255, 255, 255);
        overflow: hidden;
    }
  
    nav.white ul {
        background: rgb(255, 255, 255);
        overflow: hidden;
    }
  
    .showing {
        max-height: 34em;
    }
  
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
  
    .menu-icon {
        display: block;
        box-shadow: 4px 4px 4px #FA6476;
    }
  
    .dropup .dropdown-toggle::after{
      border-top: 0;
      border-bottom: .3em solid;
    }
  
  }

.badge-red{
  color: #fff;
  background-color: red;
}
  
.badge-pink{
  color: #fff;
  background-color: #FA6476;
}

/* [7] Verify */
.card-verify{
  background-image: url("../img/viewVerify.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-verify2{
   background-color: #E1E1E1;
   box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* [8] CardPopular */
.img-popular{
  position: absolute;
  background-color: #dc3545 ;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top:5;
  right: 5;
}

.text-fixed-popular{
  text-align: center;
  padding: 6px;
}

.view-popular{
  position: absolute;
  color: #fff ; text-shadow: black 0.1em 0.1em 0.2em;
  top: 224;
  left: 5;
  text-shadow: 1px 3px 3px rgb(0, 0, 0);
}