/*
  |--------------------------------------------------------------------------|
    หัวข้อทั้งหมด
    Section Default
    Section Banner
    Section Register
    Section Login
    Section Card
    Section CardPopular
    Section Navbar
    Section Verify
    Section Detail
    Section HomePage
    Section ProgressBar
    Section Profile
    Section Footer
    Section Search
    
 
  |--------------------------------------------------------------------------|
 */

/* Section Default */

body {
  font-family: 'Kanit', sans-serif !important;
}

body {
  background-color: #ffffff;
}

.btn-pink{
  color: white;
  background-color: #FA6476;
  border-color: #FA6476;
}

.btn-pink:hover{
  background-color: white;
  color: #FA6476;
  border-color: #FA6476;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.style-form {
  border-radius: 6px !important;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: 0%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #1477dab8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.img-profile-cycle {
  width: 250px !important;
  height: 250px !important;
  border-radius: 50% !important;
}

.btn-primary:hover {
  background-color: #FA6476;
  border-color: #FA6476;
}

/* .btn-love .btn-pink {
  background-color: #FA6476;
  color: white;
}

.btn-love .btn-pink:hover {
  border: 1px solid #FA6476;
  background-color: white;
  color: #FA6476;
} */

.btn-love{
  text-decoration: none !important;
  color:black
}

.btn-secondary:hover {
  background-color: #FA6476;
  border-color: #FA6476;
}

.text-pink {
  color: #FA6476 !important;
}

.bg-pink {
  background-color: #FA6476 !important;
}

.text-green {
  color: #5DBFD0;
}

.text-greeninfo {
  color: #455A64;
}

.shadow-text {
  text-shadow: 2px 2px #000000;
}

/* Text Color */

.text-color-pink {
  color: #FA6476;
}

/* hr */

hr.hr-13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #FA6476 inset;
}

hr.hr-17 {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 3px #FA6476;
}

hr.hr-17:after {
  content: "\00a0";
}

/* Text Margin */

@media (max-width: 576px) {
  .center-text-sm {
    text-align: center!important;
  }
}

/* Section Banner */

.banner .banner-fixed {
  position: relative;
  background-position: auto;
  overflow: hidden;
  background-size: cover;
}

.banner .train-fixed {
  position: absolute;
  left: -300%;
  bottom: 26%;
  background-position: repeat;
  width: auto;
  height: 10%;
  /* display: block; */
}

.banner .train {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-animation: linear infinite;
  animation-delay: 2s;
  -webkit-animation-name: run;
  -webkit-animation-duration: 15s;
}

@-webkit-keyframes run {
  0% {
    left: 0%;
  }
  50% {
    left: 800%;
  }
  100% {
    left: 0;
  }
}

.banner .human-fixed {
  position: absolute;
  bottom: -5px;
  width: auto;
  height: 70%;
}

.banner .human {
  width: 100%;
  height: 100%;
}

.banner .cloud-fixed {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 70%;
}

.banner .cloud {
  width: 100%;
  height: 100%;
}

.banner .build-fixed {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 70%;
}

.banner .build {
  width: 100%;
  height: 100%;
}

.banner .road-fixed {
  position: absolute;
  left: 0;
  bottom: 122px;
  background-position: repeat;
  /* width: auto; */
  height: 10%;
}

.banner .road {
  width: 100%;
  height: 280%;
}

.banner .plane-fixed {
  position: absolute;
  bottom: -23%;
  width: auto;
  height: 66%;
}

.banner .plane {
  position: relative;
  width: auto;
  height: 5%;
  -webkit-animation: linear infinite;
  animation-delay: 2s;
  -webkit-animation-name: fly;
  -webkit-animation-duration: 10s;
}

@-webkit-keyframes fly {
  0% {
    top: 0%;
    left: 0%;
    opacity: 0;
  }
  20% {
    top: -30%;
    left: 30%;
    opacity: 1;
  }
  30% {
    opacity: 1;
    top: -50%;
    left: 50%;
    width: auto;
    height: 25%;
    transition: width 2s, height 4s;
  }
  40% {
    opacity: 1;
    top: -52%;
    left: 49%;
    width: auto;
    height: 25%;
  }
  50% {
    opacity: 1;
    top: -49%;
    left: 52%;
    width: auto;
    height: 25%;
  }
  60% {
    opacity: 1;
    top: -52%;
    left: 49%;
    width: auto;
    height: 25%;
  }
  70% {
    opacity: 1;
    top: -49%;
    left: 52%;
    width: auto;
    height: 25%;
  }
  80% {
    opacity: 1;
    top: -52%;
    left: 49%;
    width: auto;
    height: 25%;
  }
  90% {
    opacity: 1;
    top: -49%;
    left: 52%;
    width: auto;
    height: 25%;
  }
  100% {
    opacity: 1;
    top: -52%;
    left: 49%;
    width: auto;
    height: 25%;
  }
}

.text-banner {
  position: absolute;
  top: 15%;
  right: 10%;
}

.text-banner h1 {
  font-size: 70px;
  margin-top: 32px;
}

@media (max-width: 850px) {
  .text-banner {
    display: none;
  }
}

/* Section Register */

.bg-register {
  background-color: #5289A3;
}

.card-register {
  background-color: white;
  box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-register2 {
  background-color: #092E41;
  box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section Login */

.card-login {
  background-image: url("../img/img-login.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-login2 {
  background-color: #E1E1E1;
  box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section Card */

.card-v2 {
  position: relative;
}

.card-v2 .card-relative {
  position: relative;
}

.card-v2 .img-card {
  width: 350px;
  height: 250px;
  background-size: cover;
}

.card-v2 .card-color {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.83%, #000000 100%);
  height: 100%;
}

.card-v2 .card-absolute {
  position: absolute;
}

.card-v2 .card-text {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fff;
}

.card-v2 .img-card {
  transition: transform .2s;
}

.card-v2 .img-card:hover {
  /* opacity: 100 !important;
  margin: 0 auto;
  width: 100%;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition: transform .2s; */
}

.card-v2 .img-card:hover .card-color {
  /* opacity: 0; */
}

.card-v2 .crop-zoom {
  overflow: hidden;
}

.card-v2 .card-text-view {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  padding-bottom: 5px;
  color: #fff;
}

.card-v2 .popular {
  position: absolute;
  top: -37px;
  right: -58px;
}

.card-v2 .popular {
  position: relative;
}

.card-v2 .popular {
  width: 90%;
}

.card-v2 {
  position: relative;
}

.card-v2 .popular-fixed {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

/* .row-card{
  overflow: hidden;
} */

/* Shadow Card */

.card-shadow {
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .2);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}

/* Size Card */

.h-100 {
  height: 100% !important;
}

/* Shadow Card */

.h-card {
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-travel {
  position: absolute;
  background-position: top 0px;
  top: 650px;
}

/* Zoom Card */

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}

/* Hover Effect */

/* Zoom In #1 */

.hover01 figure {
  overflow: hidden;
}

.hover01 figure .card-img-top {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover01 figure:hover .card-img-top {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

/* Section Card Popular */

/* CardPopular */

.img-popular2 {
  position: absolute;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 5;
  right: 21;
}

.img-popular {
  position: absolute;
  background-color: #dc3545;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 19;
  right: 23;
}

.text-fixed-popular {
  text-align: center;
}

.view-popular {
  position: absolute;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
  top: 224;
  left: 5;
  text-shadow: 1px 3px 3px rgb(0, 0, 0);
}

/* Animation Button */

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Section Navbar */

nav ul li a {
  color: #FA6476 !important;
}

/* ขนาดปกติ */

header {
  width: 100%;
  height: 100vh;
  background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.dropup .dropdown-toggle::after {
  border-top: .3em solid;
  border-bottom: 0;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  /* overflow: hidden; */
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.white ul {
  background: rgb(255, 255, 255);
  box-shadow: 4px 4px 4px #FA6476;
}

nav ul li {
  display: inline-block;
  padding: 16px 10px;
  ;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: none;
  font-size: 18px;
  color: #FA6476 !important;
  text-shadow: 0 0 0.1em #FA6476;
  font-weight: bold;
}

nav.white ul li a {
  text-decoration: none;
  color: #FA6476 !important;
  font-weight: bold;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: rgb(255, 255, 255);
  text-align: right;
  box-sizing: border-box;
  padding: 25px 24px;
  cursor: pointer;
  color: #FA6476;
  display: none;
}

/* ขนาดต่ำกว่า 786 */

@media(max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
  nav ul {
    max-height: 0px;
    background: rgb(255, 255, 255);
    overflow: hidden;
  }
  nav.white ul {
    background: rgb(255, 255, 255);
    overflow: hidden;
  }
  .showing {
    max-height: 34em;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .menu-icon {
    display: block;
    box-shadow: 4px 4px 4px #FA6476;
  }
  .dropup .dropdown-toggle::after {
    border-top: 0;
    border-bottom: .3em solid;
  }
}

.badge-red {
  color: #fff;
  background-color: red;
}

.badge-pink {
  color: #fff;
  background-color: #FA6476;
}

.badge-green {
  color: #fff;
  background-color: #75BBC7;
}

/* Section Verify */

.card-verify {
  background-image: url("../img/viewVerify.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-verify2 {
  background-color: #E1E1E1;
  box-shadow: 0 4px 8px 0 #FA6476, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section Detail */

.detailTravelContact {
  border: #75BBC7 2px solid;
}

.detailTravelContact .tab .active {
  background-color: #75BBC7 !important;
  color: white !important;
}

.detailTravelContact .tab {
  border: #75BBC7 solid 1px;
}

.detailTravelContact .nav a {
  color: #455a64 !important
}

.detailTravelContact .nav-pills .nav-link {
  border-radius: 0px !important;
}

.img-icon-detail {
  text-align: center;
  margin: 110px;
}

.img-icon-detail2 {
  text-align: center;
}

/* Section Homepage */

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: none;
}

.img-carousel-1 {
  position: relative;
  background-size: cover;
  animation: zoom-in-zoom-out 10s ease-out
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.img-carousel-2 {
  position: relative;
  background-size: cover;
  animation: zoom-out-carousel2 15s infinite;
}

@keyframes zoom-out-carousel2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

.text-carousel-1 {
  position: absolute;
  top: 250;
  left: 50;
  color: #FA6476;
  text-shadow: 10px;
}

.text-carousel-2 {
  position: absolute;
  top: 250;
  right: 50;
  font-size: 8vw;
  color: #FA6476;
  text-shadow: 10px;
}

.effect-gapip {
  font-size: 10vw;
  font-weight: bold;
  animation: pink 3s linear infinite;
  animation-delay: 0.5s;
}

@keyframes pink {
  from {
    text-shadow: 0 0 5px #FA6476, 0 0 15px #FA6476, 0 0 30px #FA6476, 0 0 60px #FA6476;
  }
}

.text-welcome {
  font-weight: bold;
  font-size: 5vw;
}

.text-welcome .letter {
  display: inline-block;
  line-height: 1em;
}

.ml16, .ml15 {
  font-weight: 800;
  font-size: 10vh;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 2px pink;
}

.ml15 .word1, .ml15 .word2 {
  display: inline-block;
  line-height: 1em;
}

.img-carousel-3 {
  position: relative;
  background-size: cover;
  animation: zoom-out-carousel3 15s infinite;
}

@keyframes zoom-out-carousel3 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

.text-carousel-3 {
  position: absolute;
  top: 50%;
  left: 23%;
  font-size: 5vw !important;
  color: #FA6476;
  text-shadow: 1px 1px 2px #FA6476;
}

.ml5 {
  position: relative;
  color: #FA6476;
  font-size: 5vw !important;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #FA6476;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

/* Multicard */

@media (min-width: 768px) {
  .multi-card .carousel-inner .carousel-item-right.active, .multi-card .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }
  .multi-card .carousel-inner .carousel-item-left.active, .multi-card .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
}

/* large - display 3 */

@media (min-width: 992px) {
  .multi-card .carousel-inner .carousel-item-right.active, .multi-card .carousel-inner .carousel-item-next {
    transform: translateX(33%);
  }
  .multi-card .carousel-inner .carousel-item-left.active, .multi-card .carousel-inner .carousel-item-prev {
    transform: translateX(-33%);
  }
}

@media (max-width: 768px) {
  .multi-card .carousel-inner .carousel-item>div {
    display: none;
  }
  .multi-card .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.multi-card .carousel-inner .carousel-item.active, .multi-card .carousel-inner .carousel-item-next, .multi-card .carousel-inner .carousel-item-prev {
  display: flex;
}

.multi-card .carousel-inner .carousel-item-right, .multi-card .carousel-inner .carousel-item-left {
  transform: translateX(0);
}

/* Section Profile */

.profile-page .cover {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

.avatar {
  display: block;
  width: 250px;
  height: 250px;
  margin: -120px auto 10px;
  border-radius: 50%;
  box-shadow: 0px 3px 12px #FA6476;
}

.card-profile {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.text-name-profile {
  font-size: 2.5rem !important;
}

@media (min-width: 1200px) {
  .text-name-profile {
    font-size: 2.5rem !important;
  }
}

.data-profile .list-group-item.active:hover, .data-profile .list-group-item.active {
  z-index: 2;
  color: #fff !important;
  background-color: #FA6476 !important;
  border-color: #FA6476 !important;
}

.data-profile .list-group-item:hover {
  z-index: 2;
  color: #fff !important;
  background-color: #fd5269;
  border-color: #fd5269;
}

.data-profile a {
  color: black
}

.data-profile a:link {
  text-decoration: none;
  color: white
}

.data-profile .sticky-top {
  top: 88px !important;
}

/* Section Footer */

.site-footer {
  background-color: #26272b;
  color: #737373;
}

.site-footer h6 {
  color: #fff;
  text-transform: uppercase;
  /* เว้นระยะห่าง */
  letter-spacing: 3px;
}

.site-footer a {
  color: #737373;
  /* เอาขีดออก */
  text-decoration: none;
}

.site-footer a:hover {
  color: #fff;
}

.text-footer {
  padding: 10px 0;
}

/* Section Search */

.pagination .page-item .page-link {
  color: #FA6476;
}

.pagination .page-item.disabled .page-link {
  color: #727272;
}

.page-item.active .page-link {
  background-color: hsl(353, 94%, 69%) !important;
  color: white;
  border-color: #FA6476;
}

.pagination .page-item .page-link:hover {
  color: white;
  background-color: #FA6476 !important;
}

.fixed-bg-search {
  position: relative;
}

.title-fixed-bg-search {
  position: absolute;
  color: white;
}

/* Pagination */

.respon-Navi-Mobile {
  display: none;
}

@media (max-width: 800px) {
  .respon-Navi-Web {
    display: none;
  }
  .respon-Navi-Mobile {
    display: flex;
    flex-direction: column;
  }
}

/* Section  */